<html> 
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="Style css/style.css">
      <link rel="stylesheet" href="Style css/responsive.css">
      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <script src="js/main.js"></script>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=320, initial-scale=1.0"/>
        <title>Tomato one</title>
    </head>
    <body>
<div class="header">
    <div class="wrapper">
        <div class="row">
            <div class="w-2">
                <div id="logo">
                    <img src="Images/Logo.png" alt="Logo">
                </div>
            </div>
            <div class="w-2 align-right">
                <div id="Search">
                    <div id="search-in" class="flex">
                        <input type="text" placeholder="Search">
                        <button>Submit</button>
                    </div>
                    
                </div>

                <div id="menu">
                    <ul>
                        <li><a href="https://maksimnepomyshy.github.io/">Home</a></li>
                        <li><a href="">Company profiles</a></li>
                        <li><a href="Tomato all.html">Products</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">R & D</a></li>
                        <li><a href="Contact us.html">Contact</a></li>
                    </ul>
                </div>
                <div class="burger">
                  <span><ul id="ul23">
                      <li><a href="" id="textINsp">Home</a></li>
                      <li><a href="" id="textINsp">Company profiles</a></li>
                      <li><a href="Tomato all.html" id="textINsp">Products</a></li>
                      <li><a href="" id="textINsp">Services</a></li>
                      <li><a href="" id="textINsp">R&D</a></li>
                      <li><a href="Contact us.html" id="textINsp">Contact</a></li>
                  </ul></span>
            </div>
        </div>
    </div>
</div>
</div>
<div id="app">
<div class="content">
    <div id="TomatoOne" v-for="product in products">
        <div class="wrapper">
            <div class="row">
                <div id="container">
                    <div id="text-section">
                      <h1 id="h1TO">{{ product.title }}</h1> 
                      <div id="rating">********</div>
                      <p id="highlight">
                        <img src="Images/Red.png" id="LogoTO">
                         {{ product.short_text }}
                      </p>
                      </div>
                    </div>
                    <div id="image-section">
                    <img :src="'../Practica/Images/img/' + product.Image" alt="Tomatoes"> 
                    <a id="ButtonTo" href="#" @click.prevent="addToCart(product.id)" v-if="!btnVisible">
                      Add to Cart
                    </a>
                    <a id="ButtonTo" href="Contact us.html" v-if="btnVisible">
                      Go to cart
                    </a>
                    </div>
                  </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <a href="#">PROFILE</a> 
    <a href="#">MANAGEMENT</a> 
    <a href="#">PRODUCTS</a> 
    <a href="#">R&D</a> 
    <a href="#">LINKS</a> 
    <a href="#">SITEMAP</a> 
    <a href="#">CONTACT</a>
    <p>AGRIDEA SEEDS & AGRICULTURE LTD. © 2020</p>
    <div class="social-icons">
      <img src="Images/Ico_in.png" alt="LinkedIn">
      <img src="Images/Ico_inst.png" alt="Instagram">
      <img src="Images/Ico_tube.png" alt="YouTube">
      <img src="Images/Ico_tw.png" alt="Twiter">
      <img src="Images/Ico_fb.png" alt="Facebook">
    </div>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="js/main.js"></script>
<script>
  document.querySelector('.burger').addEventListener('click', function() {
         this.classList.toggle('active');
         document.querySelector('#menu').classList.toggle('open');
     })
</script>
</body>
</html>